<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApZZ3eeLSLR0Iv9gdmT8aewf_E-LGS8Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>592841196569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utsav.blocApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-bloc-30ab2</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-bloc-30ab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592841196569:ios:46874666bf527351f25688</string>
</dict>
</plist>